.test-widget {
    display: flex;
    border: 1px solid #ececec;
    padding: 1em 2.5em;
}

.test-widget-img-container {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2em;
}

.test-widget-title {
    font-weight: 700;
}